<template name="<%= featureNameLower %>sList">
<h1>A list of <%= featureName %>s</h1>

{{!-- table header here --}}
    {{#each <%= featureNameLower %>s}}
      {{> <%= featureNameLower %>Item}}
    {{/each}}
{{!-- TODO table footer here --}}
</template>

<template name="<%= featureNameLower %>Item">
  <div>
    <a href="#" class="upvote btn {{upvotedClass}}">⬆</a>
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{pathFor '<%= featureName%>Detail'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor '<%= featureName%>Edit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn">Discuss</a>
  </div>
</template>